In [2]:
import pandas as pd
oo = pd.read_csv('./olympics.csv', skiprows=4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

# Challenge 2

### In which events did Jesse Owens win a medal?

In [28]:
print(oo[oo.Athlete=='OWENS, Jesse'].Event.values)

['100m' '200m' '4x100m relay' 'long jump']

### Which country has won the most men's gold medals in singles badminton over the years? [sort alphabetically]

In [78]:
selectors = (oo.Medal == 'Gold') & (oo.Gender == 'Men') & (oo.Discipline == 'Badminton') & (oo.Event == 'singles')
print(oo[selectors].NOC.value_counts())

CHN    2
INA    2
DEN    1
Name: NOC, dtype: int64

### Which three countries have won the most medals in recent years (from 1984 to 2008) ?

In [67]:
oo[oo.Edition >= 1984].NOC.value_counts().head(3)

USA    1837
AUS     762
GER     691
Name: NOC, dtype: int64

### Display the male gold medal winners for the 100m track and field sprint event over the years. [starting with the most recent]

In [84]:
results = oo[(oo.Medal == 'Gold') & (oo.Gender == 'Men') & (oo.Event == '100m')]
results.Athlete.value_counts()

LEWIS, Carl              2
GREENE, Maurice          1
MORROW, Robert Joseph    1
ABRAHAMS, Harold         1
BORZOV, Valery           1
BURKE, Thomas            1
GATLIN, Justin           1
BOLT, Usain              1
HAHN, Archie             1
WELLS, Allan             1
HINES, James Ray         1
CHRISTIE, Linford        1
HARY, Armin              1
WILLIAMS, Percy          1
TOLAN, Eddie             1
DILLARD, Harrison        1
CRAWFORD, Hasely         1
HAYES, Robert            1
PADDOCK, Charles         1
CRAIG, Ralph             1
BAILEY, Donovan          1
JARVIS, Francis          1
REMIGINO, Lindy          1
OWENS, Jesse             1
WALKER, Reginald         1
Name: Athlete, dtype: int64